/* CSS Document */
#ContentHomepage {background:#fff;}

.BigBtn {overflow:hidden; margin:5px 0 0 0; padding-bottom:15px;}
.BookingWay 
{
	width: 265px;
	height: 115px;
	padding:17px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background:#f78e11 url(../../Images/Newversion/httdv_09.jpg) repeat-x;
	float:left;
	font-size:30px; color:#fff; text-shadow: 1px 1px #e59e11;
	font-weight:normal; line-height:50px;
	text-decoration:none;
	text-transform:uppercase;
	margin-right:28px;
}
.BookingWay:hover {background:#fbad19 url(../../Images/Newversion/httdv_09_hover.jpg) repeat-x;}
.BookingWay img {float:left; margin-right:20px; margin-top:10px;}
.BookingWay span {font-size:50px; line-height:60px; text-shadow:1px 1px #cc830f; font-weight:bold;}

.Payment {
	width: 280px;
	height: 115px;
	padding:17px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background:#779716 url(../../Images/Newversion/httt_09.jpg) repeat-x;

	float:left;
	font-size:28px; color:#fff; text-shadow: 1px 1px #7e9d1e;
	font-weight:normal; line-height:55px;
	text-decoration:none;
	text-transform:uppercase;
	
	}
.Payment:hover {background:#97b41e url(../../Images/Newversion/httt_09_hover.jpg) repeat-x;}
	.Payment img {float:left; margin-right:10px; margin-top:10px;}
	.Payment span {font-size:32px; line-height:60px; text-shadow:1px 1px #7e9d1e; font-weight:bold; letter-spacing:-1px}
	
	
	.EmailRegister {
	width: 258px;
	height: 115px;
	padding:17px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background:#123f78 url(../../Images/Newversion/emailReg_09.jpg) repeat-x;
	float:right;
	font-size:28px; color:#fff; text-shadow: 1px 1px #7e9d1e;
	font-weight:normal; line-height:55px;
	text-decoration:none;
	
	}
	.emailRegister{ display: none;}
.EmailRegister:hover {background:#1b5ca0 url(../../Images/Newversion/emailReg_09_hover.jpg) repeat-x;}	

	.EmailRegister span {font-size:13px; line-height:20px; text-shadow:1px 1px #13417d; font-weight:bold; background:url(../../Images/Newversion/emailIcon.png) no-repeat center left; padding-left:27px}
	
	.EmailRegisterTextbox {background:#edf4fa; border:none; border-radius:5px;  margin:15px 0px ; height:28px; line-height:28px; font-family:Arial, Helvetica, sans-serif; width:100%}
	
	.btnEmailRegister {float:right; background:#c4e1fc; border:none; border-radius:5px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; color:#143a83; font-size:14px; padding:5px;}
	
	.Box3 {margin:15px 0px; border: solid 1px #d9d9d9; border-radius:5px; padding:10px;}
	.tintuc {float:left; width:324px; border-right: solid 1px #d9d9d9; padding-right:12px; margin-right:10px;}
	.tintuc h3 a{font-size:16px; color:#143a83; line-height:35px; font-weight:bold; background:
	url(../../Images/Newversion/NewsIcon.png) no-repeat center left; padding-left:35px;text-transform: uppercase;text-decoration: none;display: block;}
	.tintuc ul {min-height:200px;}
	.tintuc li {border-top: dotted 1px #d9d9d9; margin-top:5px; padding:4px 0px; }
	.tintuc li a {text-decoration:none;}
	.tintuc li .rtext h5 a{font-size:13px; color:#143a83; line-height:22px; font-weight:bold}
	.tintuc li .rtext span {font-size:12px; color:#333; }
	.tintuc li img {float:left; margin-right:10px; width:83px; height:58px; border:solid 1px #d9d9d9; margin-top:5px}
	.xemthem {display:block; margin:10px 0px; float:right; padding:3px 10px; background:#ff9933; font-weight:11px; color:#fff; text-decoration:none; font-style:italic; font-size:11px;}
	.xemthem:hover {background:#143a83;}
	.tintuc .view-more{ display: none;}
	
.khachhangnoivechungtoi {float:left; width:308px; border-right: solid 1px #d9d9d9; padding-right:10px; margin-right:10px;}
.khachhangnoivechungtoi h3 {background:url(../../Images/Newversion/TalkIcon.png) no-repeat center left; line-height:35px; padding-left:45px; font-size:15px; font-weight:bold; color:#143a83; text-transform:uppercase}
.khachhangnoivechungtoi ul {min-height:200px}
.khachhangnoivechungtoi ul li {border-top: dotted 1px #d9d9d9; margin-top:6px; padding:6px 0px; margin-left:10px;}
.khachhangnoivechungtoi ul li img { float:left; margin-right:10px; width:49px; height:59px;}
.khachhangnoivechungtoi ul li p {font-size:12px; color:#333; float:left; width:235px;background: url('../../Images/Newversion/avaKH2.jpg') no-repeat top left;padding-left: 59px;min-height: 59px;}
.khachhangnoivechungtoi ul li p span {display:block;}
.khachhangnoivechungtoi ul li p span.date_timePost{font-style:italic; color:#666; margin-top:5px; font-size:11px;}


.cauhoithuonggap {float:left; width:250px; }
.cauhoithuonggap h3 {font-size:16px; color:#143a83; line-height:35px; font-weight:bold; background:url(../../Images/Newversion/questionIcon.png) no-repeat center left; padding-left:25px;text-transform: uppercase;border-bottom: dotted 1px #d9d9d9;padding-bottom: 6px;}
.cauhoithuonggap ul {margin-top:10px;min-height:190px;}
.cauhoithuonggap ul li {display:block; margin-top:5px;}
.cauhoithuonggap a.question {text-decoration:none; color:#333; line-height:25px; font-size:12px; margin-left:10px; display:block;}
.cauhoithuonggap a.question:hover {color:#143a83;}
.cauhoithuonggap .number {float:left; display:block; margin-right:5px;}
.cauhoithuonggap .text {float:left; width:200px;}



.IntroOnIndex {border:solid 1px #d9d9d9; padding:10px; border-radius:5px;}
.IntroOnIndex img.imgnv {float:left; margin-right:10px}
.IntroOnIndex p {background:url(../../Images/Newversion/mo.png) no-repeat top left; font-size:12px; color:#777; font-style:italic; text-align:justify; padding-left:32px;  float:left; width:650px; line-height:19px}
.nonefloat {clear:both;}
.moreIntro {color:#143a83; text-decoration:none;}
.moreIntro:hover {text-decoration:underline;}





